


*{
    padding:0px;
    margin:0px;
    font-size:13px;
}
section{
    padding-top: 30px;
}
section:last-child{
    padding-bottom:30px;
}
.contact-container{
    width:80%;
    margin:0 auto;
   
}

.contact-7 img{
    width: 250px;
    height:200px;
    object-fit: cover;
    border:3px solid gray;
    transform: scale(1);
    margin-bottom:10px;
    
}
.contact-7 img:hover{
    transform: scale(1.05);
    transition: transform 0.5s;
}
