


@import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Text&display=swap');


*{ 
    padding:0px;
    margin:0px;
    font-family: 'Libre Caslon Text', serif;
    font-size:13px;
}
.home-container{
    width: 80%;
    margin:0 auto;
}
section{
    padding-top:20px;
    
}

.description_2 img{
    max-width: 100%;
    border:2px solid grey;
    transform: scale(1);
    width: 250px;
    min-width: 100px;
    cursor: pointer;
}
.description_2 img:hover{
    transform: scale(1.05);
    transition: transform 0.6s;
}

.description_3 img{
    max-width: 100%;
    width: 250px;
    min-width: 100px;
    height:150px;
    border:2px solid grey;
    transform: scale(1);
    cursor: pointer;
}
.description_3 img:hover{
    transform: scale(1.05);
    transition: transform 0.6s;
}
.description_3 span{
    display:block;
    font-size:15px;
    text-align: center;
}

