.footer{
    width: 100%;
    background-color: #1c2331;
}

.footer_content{
    padding:20px;
    width: 80%;
    margin:0 auto;
    color:white;
    display:flex;
    justify-content: space-between;
    
}

.useful_link{
    padding-top: 20px;
}
.useful_link a{
    font-size:13px;
    color:white;
    text-decoration: none;
    display:flex;
    flex-direction: column;
   
}
.resources{
    padding-top:30px;
}
.resources a{
    font-size:13px;
    color:white;
    text-decoration: none;
    display:flex;
    flex-direction: column;
}
.free_tutorial{
    padding-top: 30px;
}
.free_tutorial a{
    font-size:13px;
    color:white;
    text-decoration: none;
    display:flex;
    flex-direction: column;
}

.company{
    padding-top:30px;
}
.company a{
    font-size:13px;
    color:white;
    text-decoration: none;
    display:flex;
    flex-direction: column;
}
.footer_content h3{
    font-size:16px;
    padding-bottom:10px;
    border-bottom: 1px solid aqua;
}
.copyright{
    color:#fefefe;
    font-size:15px;
    text-align: center;
    background-color:rgba(0,0,0,0.2) ;
}


   
 

@media only screen and (max-width:998px){
    .footer_content{
        display:flex;
        flex-direction: column;
    }
  
}
  